[*]
indent_style = tab
indent_size = 4

[*.cs]
# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# CA1852: Seal internal types
dotnet_diagnostic.CA1852.severity = warning
dotnet_code_quality.CA1852.ignore_internalsvisibleto = true